@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    --cardCorner: 25px;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
}

.card-container {
    border: 1px solid rgba(116, 116, 116, 0.12);
    border-radius: var(--cardCorner);
    box-shadow: 5px 15px 15px rgba(116, 116, 116, 0.12);
    padding: 25px;
    width: 100%;
    max-width: 250px;
}

.card-container img {
    border-radius: var(--cardCorner);
    width: 100%;
}

.card-container .card-title {
    padding: 0;
    margin: 15px auto;
}

.card-container .card-title {
    padding: 0;
}

.counter-container {
    background: #ccc;
    max-width: 300px;
    padding: 25px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

.count-display {
    text-align: center;
    font-size: 5em;
    padding: 0 0.5em;
    margin: 0;
    font-weight:600;
}

.counter-button {
    padding: 5px 15px;
    margin: 0 3px;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: #ccc;
}

.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    padding: 25px;
    border-radius: 15px;
    margin: 50px auto;
    box-shadow: 5px 5px 15px #0000001a;
    border: 2px solid #00000019;
}

.color-picker-container input {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.to-do-list-container {
    max-width: 350px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.872);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px auto;
    margin: 30px auto;
    border-radius: 15px;
    color: #fff;
    box-shadow: 5px 5px 15px #00000093;
}

.to-do-list-container input {
    width: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-right: 10px
}

.to-do-list-container button.add-task {
    font-size: 14px;
    font-weight: 500;
    background-color: #9de3ffe6;
}

.to-do-list-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

.to-do-list-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    margin-right: 5px;
}

.to-do-list-container ol {
    padding: 0;
    margin-top: 25px;

}

.to-do-list-container ol li {
    display: flex; 
    justify-content: end;
    align-items: center;
    font-weight:500;
    animation: fade;
    animation-duration: 0.5s;
}

.to-do-list-container ol li .action-buttons {
    margin-left: 15px;
    padding: 2px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

